.text-editor {
  display: flex;
  flex-direction: column;

  &__header {
    width: 100%;
    border: 1px solid #000;
    border-radius: 8px;
  }

  &__text-area {
    textarea {
      width: 100%;
    }
  }
}