<div class="text-editor">
  <div class="text-editor__header">
    <te-actions-group 
      [actions]="historyActions"
      [border]="false"
      (actionClick)="onClickAction($event)"
    ></te-actions-group>

    <te-actions-group 
      [actions]="colorActions" 
      (actionClick)="onClickAction($event)"
    ></te-actions-group>
    
    <te-actions-group 
      [actions]="textStyleActions" 
      (actionClick)="onClickAction($event)"
    ></te-actions-group>

    <te-actions-group 
      [actions]="textAlignActions" 
      (actionClick)="onClickAction($event)"
    ></te-actions-group>

    <te-actions-group 
      [actions]="textListActions" 
      (actionClick)="onClickAction($event)"
    ></te-actions-group>

    <te-actions-group 
      [actions]="imageActions" 
      (actionClick)="onClickAction($event)"
    ></te-actions-group>
  </div>
  <div class="text-editor__text-area">
    <textarea 
      [(ngModel)]="text" 
      (ngModelChange)="editorChange($event)"
      (change)="$event.stopPropagation()"
    ></textarea>
  </div>
</div>