@import '../../styles.scss';

.text-editor {
  display: flex;
  flex-direction: column;
  width: 100%;

  *, *::before, *::after {
    box-sizing: border-box;
  }

  &__header {
    width: 100%;
    border: 1px solid $border-color;
    border-bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    padding: 4px;
    gap: 8px;
    background-color: $secondary-color;
  }

  &__text-area {
    textarea {
      width: 100%;
      min-height: 100px;
      resize: vertical;
      outline: none;
      border-color: $border-color;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      color: $primary-color;
      font-size: 18px;
    }
  }
}